#home_grid_container {
  width: 100%;

  #home_car_list_container {
    display: grid;
    grid-template-rows: auto ;
    gap: 1rem 2%;
    padding: 0;
    width: 100%
  }
}

@media (min-width: 1000px) {
  #home_grid_container {
    background-color: #f6f6f6;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 5rem 0;

    #home_car_list_container {
      margin: 4rem;
      gap: 2rem;
      justify-items: center;
      align-items: center;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: 1600px) {
  #home_grid_container {

    #home_car_list_container {
      gap: 4rem;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
