nav {
  max-width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;

  div,svg {
    padding: 5% 0;
  }

  #nav_logo_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 33%;
  }

  div {
    width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      margin: 5px;
      min-width: fit-content;
      font-family: var(--police);
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      color: var(--primary);
    }
  }
}

@media (min-width: 800px) {
  nav {
    div {
      min-width: 20rem;
      a {
        font-size:  1.5rem;
      }
    }
  }
}